.table .bossAction{
    padding: 2px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
}

/* Alternativa profesional */
.table .jefe {
    border-left: 3px solid #5ca6fa; /* Verde */
}

.table tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }